#main {
  display: flex;
}

#innerSmallLeft {
  width: 400px;
  height: 900px;
  background-image: linear-gradient(
    to bottom right,
    #16041f,
    #380c4a,
    #3b0e46,
    #3d0f42,
    #441436,
    #33254e,
    #2b2d59,
    #292654,
    #271f4f,
    #240d37,
    #22052d
  );
}

#innerBigRight {
  position: relative;
  width: 1440px;
  height: 900px;
  background-color: white;
}

#Cname {
  position: relative;
  width: 382px;
  height: 44px;
  left: 825.73px;
  top: 349.45px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  transform: rotate(-0.74deg);

  font-size: 20px;
  box-sizing: border-box;
  padding: 20px;
}

#CNameLabel {
  position: relative;
  width: 144px;
  height: 9px;
  top: 340.45px;
  left: 825.73px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.155em;

  color: #404040;
}

#err1 {
  position: relative;
  left: 825.73px;
  top: 354.45px;
  color: red;
}

#CnumLabel {
  position: relative;
  width: 144px;
  height: 9px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.155em;

  color: #404040;

  left: 826px;
  top: 380px;
}

#Cnum {
  position: relative;
  width: 382px;
  height: 44px;
  left: 826px;
  top: 390px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  font-size: 20px;

  box-sizing: border-box;
  padding: 10px;
}

#err2 {
  position: relative;
  left: 825.73px;
  top: 395px;
  color: red;
}

#expDateLabel {
  position: relative;
  width: 144px;
  height: 9px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.155em;

  color: #404040;

  top: 420px;
  left: 825.73px;
}

#cvcLabel {
  position: relative;
  width: 30px;
  height: 9px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.155em;

  color: #404040;

  top: 420px;
  left: 900px;
}

#expDate {
  position: relative;
  width: 78px;
  height: 44px;
  left: 814px;
  top: 430px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 20px;
}

#expMon {
  position: relative;
  width: 78px;
  height: 44px;
  left: 834px;
  top: 430px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 20px;
}

#cvc {
  position: relative;

  width: 189px;
  height: 44px;
  left: 870px;
  top: 430px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 6px;

  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
}

#err3 {
  position: relative;
  left: 1030px;
  top: 445px;
  color: red;
}

#btn {
  position: relative;
  width: 382px;
  height: 53px;
  left: 768px;
  top: 460px;

  background: #220930;
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;

  color: #ffffff;
}

#credictFront {
  position: absolute;
  width: 416.38px;
  height: 246.12px;
  left: 74px;
  top: 76px;
  background-image: linear-gradient(
    to right top,
    #623ff2,
    #5e37ec,
    #cf56bd,
    #620594
  );
}

#credictBack {
  position: absolute;
  width: 451px;
  height: 267.58px;
  left: 198.03px;
  top: 422px;

  background: linear-gradient(106.8deg, #ffffff 0%, #d9d9d9 103.94%);
  box-shadow: 10px 11px 62px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#hrLine {
  position: relative;
  width: 448px;
  height: 52px;
  top: 48.55px;

  background: #000000;
}
#cardInp {
  box-sizing: border-box;

  position: relative;
  width: 361px;
  height: 38px;
  top: 88.55px;
  left: 35.5px;
  background: #adb6bf;
  border: 1px solid #000000;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.235em;

  color: #ffffff;
  box-sizing: border-box;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

#accNum {
  position: relative;
  width: 367px;
  height: 27px;
  left: 33px;
  top: 125px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.18em;

  color: #ffffff;
}

#accName {
  position: relative;
  width: 155px;
  height: 11px;
  left: 33px;
  top: 185px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.19em;

  color: #ffffff;
}

#accdate {
  position: relative;
  width: 51px;
  height: 13px;
  left: 338px;
  top: 174px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.235em;

  color: #ffffff;
}
